.container {
  background: 	#AE1E39;
  max-width: 300px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.first-half {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.second-half {
  display: flex;
  width: 20%;
  align-items: flex-end;
}

.display {
  margin: 10px 0px;
  background:#323335;
  color: white;
  padding: 10px;
  border-radius: 40px;
  text-align: right;
  font-size: 40px;
}

.spec-button {
  color: white;
  background:#12599F;
  padding: 10px;
  width: 55px;
  height: 55px;
  margin: 0px 20px 10px 0px;
  border-radius: 100%;
  border: none;
  box-shadow: 0px 3px black;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.spec-button:hover {
  transition: .5s;
  background: rgb(31, 136, 241);
}

.num-button {
  color: white;
  background:#003F63;
  padding: 10px;
  width: 55px;
  height: 55px;
  margin: 0px 20px 10px 0px;
  border-radius: 100%;
  border: none;
  box-shadow: 0px 3px black;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.num-button:hover {
  transition: .5s;
  background: rgb(3, 115, 180);
}

.num-button:nth-child(10) {
  width: 130px;
  border-radius: 30px;
}

.op-button {
  color: white;
  background:#007992;
  padding: 10px;
  width: 55px;
  height: 55px;
  margin: 0px 0px 10px 0px;
  border-radius: 100%;
  border: none;
  box-shadow: 0px 3px black;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.op-button:hover {
  transition: .5s;
  background: #02bbe0;
}
